<h2>Lista de Categorias:</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Nome da categoria: {{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Data de criação: {{#formatDate date}} {{/formatDate}}</small><br>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-4">Editar Categoria</button></a>

            <form action="/admin/categorias/deletar" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-4">Deletar categoria</button>
            </form>
        </div>
    </div>
{{else}}
    <h4 class="mt-3" style="text-align: center;">Nenhuma categoria registada.</h4>

{{/each}}