<h2>Lista de Postagens:</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Título: {{titulo}}</h4>
            <p>Slug: {{slug}}</p>
            <p>Descrição: {{descricao}}</p>
            <small>Data da criação: {{#formatDate data}}  {{/formatDate}}</small><br>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="mt-3 btn btn-success">Editar Postagem</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="mt-3 btn btn-danger">Deletar Postagem</button></a>
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registada.</p>
{{/each}}
