<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao blog do Node</h1>
  <p class="lead">Este é um Blog simples, desenvolvido com Node.Js + Express + MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você vai poder ler sobre as novidades do mundo da computação</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes:</h2>

{{#each postagens}}

<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        
        <hr>
        <small><b>Categoria:</b> {{categoria.nome}}</small><br>
        <small><b>Data de publicação:</b> {{#formatDate data}}{{/formatDate}}</small>
    </div>
</div>

{{else}}    
    <h5>Nenhuma postagem</h5>
{{/each}}

<hr>